<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Task</title>
    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>
        Create task
    </h1>

    <form method="POST">

        <input type="text" name="title" 
        placeholder="Enter Your Title">

        <br><br>

        <textarea name="description" 
        placeholder="Enter Your Description">

        </textarea>

        <br><br>

        <select name="priority" >

            <option value="High">

                High

            </option>

            <option value="Medium">

                Medium

            </option>

            <option value="Low">

                Low

            </option>

        </select>

        <br><br>

        <input type="date" name="due_date">

        <br><br>

        <button type="submit">

            Create task

        </button>

    </form>
    
</body>
</html>